@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Hide only visually, but have it available for screen readers: */
.sr-only {
    
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

/* for skip-nav */
.skip-link {

    background: white;
    color: black;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translate(-200%);
    transition: transform 0.3s;

}

/* for skip-nav */
.skip-link:focus {

    transform: translate(0%);

}

body {

    background-color: #F5F5F5;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 18px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header, footer {
    text-align: center;
    padding: 1.1em;
}

header {
    background: #A2D2FF;
    padding: 2em;
}

header h1 {

    margin: 0;

}

#main-nav {
    background: #BDE0FE;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0.01em;
    z-index: 2;
}

.container {

    display: flex;
    flex-direction: column;
    /* max-width: 1200px;
    margin: 2em auto; */

}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 2em auto;
    /* align-items: center; */
}

main {

    max-width: 880px;
    margin-left: 0.8em;
    margin-right: 1em;
    margin-bottom: 0.8em;
    box-shadow: 0 0 10px #CDB4DB;
    border-radius: 8px;
    background: #FAFAFA;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

aside {
    background: #FAFAFA;
    height: 100%;
    box-shadow: 0 0 10px #CDB4DB;
    border-radius: 8px;
    margin: 0.5em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

#page-nav {

    margin: 0;
    padding: 0;
    margin-right: 0.8em;
    margin-left: 1em;
    min-width: 190px;
    max-width: 220px;

}

#references {

    margin-left: 1em;
    margin-right: 1em;
    /* margin: 1em auto; */
    margin-top: 0.8em;
    /* max-width: 1200px; */

}

#references li {

    padding: 0.3em;

}

#page-nav #page-main-ul {

    padding: 0;
    margin: 0.6em;

}

footer {
    background: #A2D2FF;
}

p {

    /* super important */
    line-height: 1.8em;
    margin: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: 0;

}

footer p {

    margin: 0;
    padding: 0;
    margin-top: 0.1em;
    margin-bottom: 0.4em;

}

section {
    overflow: hidden;
    position: relative;
}

section span {
    position: absolute;
    top: -3.8em;
    visibility: hidden;
}

.sublist {

    list-style-type: none;

}

dt {

    font-weight: 500;

}

dt, dd {

    line-height: 1.8em;

}

dt, details {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    /* padding: 0; */

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;

}

h1 {

    font-size: 2em;

}

h2 {

    font-size: 1.7em;

}

h3 {

    font-size: 1.6em;

}

h4 {

    font-size: 1.4em;

}

h5 {

    font-size: 1.2em;

}

h6 {

    font-size: 1.1em;

}

hr {

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CDB4DB;
    margin: 1em 0;
    padding: 0;

}

pre {

    margin: 0;
    padding: 0;
    display: block;
    width: 60px;

}

#main-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

#main-nav ul a {

    text-decoration: none;
    margin: 0px;
    font-size: 1.1em;
    padding: 8px 15px;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;

}

#page-nav ul a {

    text-decoration: none;
    margin: 0px;
    font-size: 1.1em;
    padding: 6px 12px;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

#paper-refs-ul li {

    text-decoration: none;
    margin: 0px;
    /* padding: 2px 6px; */
    /* font-size: 1.1em; */
    /* padding: 8px 15px; */
    padding-left: 0.8em;

}

/* #references ul {

    margin: 0;

} */

#references ul a {

    /* transition: background-color 0.2s, color 0.2s;
    border-radius: 5px; */
    padding: 2px 6px;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    /* align-items: flex-start; */

}

section ol li {

    padding: 0.3em;

}

section ul li {

    padding: 0.3em;

}

a:link {

    color: black;

}

a:visited {

    color: #605567;

}

#page-nav ul a:hover {

    background: #BDE0FE;

}

#references ul a:hover {

    background: #BDE0FE;

}

a:hover {

    background: #F5F5F5;

}

a:active {

    color: #2E5F78;

}

/* tablet */
@media screen and (min-width: 641px) and (max-width: 900px) {

    #main-nav {
        position: static;
    }

    section span {
        top: 0;
    }

}

/* mobile */
@media screen and (max-width: 640px) {

    #main-nav {
        position: static;
    }

    #main-nav ul {
        flex-flow: column nowrap;
        text-align: center;
        padding: 0;
    }

    /* thumbable */
    #main-nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px #F5F5F5 solid;
        background: #F5F5F5;
    }

    /* thumbable */
    #page-nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px #F5F5F5 solid;
        background: #BDE0FE;
    }

    .wrapper {

        flex-direction: column;
        margin: 1em;

    }

    main, #page-nav {

        margin: 1em;

    }

    #page-nav {

        max-width: 100%;

    }

    section span {
        top: 0;
    }
}